	.container {
		width: 800px;
		margin: 10px auto;
		background: #CCC;
	}

	.box {
		width: 100px;
		height: 100px;
		margin: 10px;
		padding: 10px;
		background: blue;
	}
	
	.left {
		float: left;
		
	}
	
	.right {
		float: right;
	}
	
	.clear {
		clear: both;
	}
	
	.clearfix:after { 
	
	content: "."; 

	display: block; 
	
	clear: both;
	
	visibility: hidden;
	
	line-height: 0; 
	height: 0;
	
}
