
	#container {
		width: 960px;
		margin: 0 auto;
		background-color: #CCC;
	
	}
	
	#header {
		background-color: blue;
		padding: 10px;
	}
	
	#content {
		float: left;
		width: 560px;
		background-color: white;
	}
	
	.alignleft {
		float: left;
	}
	
	#sidebar {
		float: left;
		width: 200px;
		background-color: #F00;
	}
	
	#footer {
		clear: both;
	}
	
	img {
		margin: 10px;
	}
	
	
	
	



